/* .partner-tittle{
    margin-left: 0px;
    margin-top: -140px;
    font-size: 30px;
    font-weight: 800;
 
}

/* Custom CSS for mobile responsiveness */
/* @media (max-width: 767px) {
  .mobile-gap {
    margin-bottom: 20px; /* Adjust the margin as needed */
  /* }
}

.icon{
    width: 40px;
    height: 40px;
    margin: 10px;
    margin-left: 10px;
} */

/* .van-image {
  width: 600px;/* Adjust the width as needed to make it smaller */
  /* margin-left: 550px;
  margin-bottom: 10px;

} 

@media (max-width: 768px) {
  .van-image {
    width: 100%; /* Make the image take up the full width of the container */
    /* margin: 0;
    margin-left: -20px;
    margin-bottom: 150px; /* Remove left margin to center the image */
  /* }
}   */