


.side-nav-half{
  
  .side-nav-name{
    display: none;
  }

  
  .side-nav-contain > span{
      display: none;
  }

  .side-nav-profile > :last-child{
      display: none;
  }
}


.side-nav-contain{
  transition: 100ms ease-in;
  border: none;
  box-shadow: none;
  outline: none;
  background: transparent;
  width: 100%;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: start;
  gap: 14px;
  padding-left: 14px;
  border-top-right-radius: 25px;
  border-bottom-right-radius: 25px;
  /* border:1px solid red; */

  width: 100%;
  
}

.side-nav-contain:hover{
  background-color: #36383b;
}



.side-nav-contain >span{
  font-weight: 500;
  font-size: 16px;
}



.side-nav-back{
  background: #000;
}

.side-nav-contain:focus{
  background: #36383b;
}
.side-nav-logout:focus{
  background: #36383b;
}





