.main{
background-image: url(../../assets/images/background/hero-bg-1.png);
background-size: cover; 
background-repeat: no-repeat;
background-position: center center;
height: 100vh; /* Set the height of the div to 100% of the viewport height */
display: flex;
flex-direction: column;
justify-content: center; /* Vertically center the content */
font-family: 'Poppins', sans-serif;
}
.header-container {
  margin-top: 100px;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 20px; /* Add margin between the header and paragraph if needed */
}

.H-tiitle{
color: #f5f5f5;
font-size: 4em; /* Adjust the font size as needed */
overflow: hidden; /* Ensures the content is not revealed until the animation */
white-space: nowrap; /* Keeps the content on a single line */
margin: 0 auto; /* Gives that scrolling effect as the typing happens */
 letter-spacing: .1em;
  animation: 
    typing 3.5s steps(40, end),forwards
    blink-caret .75s step-end infinite;

}
/* The typing effect */
@keyframes typing {
  from { width: 0 }
  to { width: 50% }
}

/* The typewriter cursor effect */
@keyframes blink-caret {
  from, to { border-color: transparent }
  50% { border-color: #74E2FF; }
}

/* New keyframe animation for smaller screens */


.H-paragraph{
     color: #6c6a6a;
     font-size: 1.2em;
     text-align: center;
}
.btn-group {
padding: 30px 400px;
  
}
@media screen and (max-width: 768px) {
  .btn-group {
    padding: 1px
    
  }
}
.btn:hover {
  background-position: left;
}


.main-btn {
  background: linear-gradient(to left, #6c6a6a 50%, #74E2FF 50%) right;
  background-size: 200%;
  transition: background-position 0.5s ease-out;
  margin: 5px;
  height: 60px;
}

.custom-button:hover {
  background-position: left;
}

.custom-button-1 {
  color: #000000;
  background: linear-gradient(to left, #ffffff 50%, #74E2FF 50%) right;
  background-size: 200%;
  transition: background-position 0.5s ease-out;
  margin: 5px;
  height: 60px;
}

.custom-button-1:hover {
  background-position: left;
}




@media screen and (max-width: 768px) {
    .H-tiitle{
    font-size: 2.1em; /* Adjust the font size for smaller screens */
    animation: typing-row 3.5s steps(40, end), forwards;
    text-align: center; /* Center the text */
  }
  .H-paragraph {
    font-size: 1em; /* Adjust the font size for smaller screens */
    text-align: center; /* Center the text */
  }

  .btn-group {
    padding: 10px; /* Adjust the padding for smaller screens */
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .custom-button {
    font-size: 0.8em; /* Adjust the font size for smaller screens */
    height: 50px; /* Adjust the button height for smaller screens */
    width: 100%; /* Make the buttons full width on smaller screens */
  }

  .custom-button-1 {
    font-size: 0.8em; /* Adjust the font size for smaller screens */
    height: 50px; /* Adjust the button height for smaller screens */
    width: 100%; /* Make the buttons full width on smaller screens */
  }
}

@keyframes typing-row {
  from { width: 0 }
  to { width: 100% }
}

.rafflecards{
  margin-top: 200px;;

}

.card1{
  background: linear-gradient(98.92deg, #1A8BC0 100%, #000000 100%);
}